div{
	padding:15px;
	margin-bottom:30px;
	font-size:20px;
}


#uno{
	border-color:red;
	border-width:5px;
	
	
	
	
	
	
	border-style:dotted dashed double solid;
	
	
	/*
		border: red 5px;
		border-style:dotted dashed double solid;
		

	*/
}










#dos{
	border-color:orange purple;
	border-style:ridge dotted dashed double;
	border-width:10px;
}





#tres{
	border-color:purple;
	border-style:dashed double groove dotted;
	border-width:10px;
}
#cuatro{
	border-color:blue blue red red;
	border-style: dotted ;
	border-width:5px 10px 15px 20px;
}
#cinco{
	border-color:green blue;
	border-style:outset;
	border-width:10px 5px;
}